<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="{{ url_for('static', path='../static/main_page-style.css') }}">
</head>
<body>

    <div class="container">
        {% include 'component/sideNavBar.html' %}
        
        <div class="main-content">
            <div id="item-box">
                <div id="item-image-placeholder"></div>
                <h3>Item Name</h3>
                <p>Item Description</p>
                <div class="actions">
                    <button id="swipe-left">Swipe Left</button>
                    <button id="swipe-right">Swipe Right</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
